body{
  margin:0;
  font-family: 'Times New Roman', sans-serif;

  font-size: 15px;
  line-height: 1.6;
  color: #333;  
}
*, *:before, *:after{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5{
  margin: 0;
}
/*container*/
.container{
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.menu{
    text-decoration: none;
    color: #333333;
  }
a{
  color: #333333;
}


 /*ol { counter-reset: list 0; } /* Инициируем счетчик */
   /*ol li:before {
    counter-increment: list; /* Увеличиваем значение счетчика */
    /*content: counter(list) ". "; /* Выводим число */
   /*} */
ol {
          /* убираем стандартную нумерацию */
          list-style: none; 
          /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */ 
          counter-reset: li; 
          }
          li:before {
          /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
          counter-increment: li; 
          /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
          content: counters(li,".") ". "; 
          }


.content{
  font-size: 18px;
  background-color: #f8faeb;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 0px solid #999999;
}
.content__title{
  text-align: center;
}
.content__li{
  margin-bottom: 10px;
  list-style: none;
}
.text__title{
  font-size: 20px;
}
.text{
  text-indent: 20px;
  text-align: justify;
}

.img__content{
  padding-bottom:0;
  padding-top: 10px;
  text-align: center;
}
.img__text{
  padding: 5px;
  text-align: center;
}
/*.img{
  width: 550px;
  height: 520px;
}*/
